html,
body {
  height: 100%;
  box-sizing: border-box;
  cursor: url('./cursors/Original Arrow Windows 95.cur'), default;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
